@model ProductDto


<a class="btn btn-sm btn-outline-info" href="@Model.Name">مشاهده جزئیات</a>
<a class="btn btn-sm btn-outline-warning" href="">ویرایش</a>
<a class="btn btn-sm btn-outline-danger" href="">حذف</a>